@import './Variables';


.cardTwo {
    max-width: 25rem;
    width: 100%;
    background-color: var(--mainCardTwo);
    color: var(--mainWhite);
    text-align: center;
    padding: 2rem 1.5rem;
    // &::before {
    //     content: 'coco';
    // }
    @media (max-width: $mobile-landscape) and (orientation: landscape) {
        max-width: 100%;
    }
    @media (max-width: $tablet) {
        max-width: 100%;
    }
    &_item {
        margin: 0 1rem;
    }
    &_delete {
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem;
    }
}